body {
  text-align: center;
  font-family: "Roboto";
  background-color: #e7ddf6;
}

h1 {
  font-weight: 900px;
  font-size: 50px;
  color: rgb(95, 13, 183);
}

h2 {
  font-weight: 400px;
}

img {
  width: 300px;
  margin-bottom: 30px;
}
main {
  text-align: justify;
  color: white;
  background-color: #7b4fd7;
  margin: 0px auto 0px auto;
  width: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}
main p {
  margin: 2px;
}

#bold-text {
  font-weight: bold;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  padding: 0 0 0 10px;
  margin: 12px;
  text-align: left;
}

.golden {
  box-shadow: -4px 0px gold;
  color: rgb(246, 235, 171);
}

a {
  background-color: lightgoldenrodyellow;
  padding: 5px 8px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(84, 4, 158);
}

a:hover {
  background-color: yellow;
}

#download {
  margin: 80px;
  background-color: gold;
  padding: 15px;
  color: black;
}

footer p {
  margin: 30px;
  color: rgb(166, 147, 147);
}
